body{
    background-color: salmon;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#boardContainer{
    border: 5px solid sienna;
    background-color: sienna;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
}
#controlContainer{
    Width: 400px;
    margin: 20px auto;
}
.cell{
    flex: 0 0 32%;
    height: 32%;
    background-color: salmon;
    margin-bottom: 5px;
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: 128px;
}
button{
    border: 2px solid black;
    background-color: olivedrab;
    color: white;
    width: 120px;
    height: 50px;
}
#resetBtn{
    float: right;
}