body{
    background-color: salmon;
    font-family: 'Courier New', Courier, monospace;
}

#boardContainer{
    border: 5px solid sienna;
    background-color: sienna;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
}
.cell{
    flex: 0 0 32%;
    height: 32%;
    background-color: salmon;
    margin-bottom: 5px;
}